.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../components/img/hero.jpg");
  background-size: cover;
  background-position: top; /*when img size change top of img is fixed*/
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; /*for child element like logo*/

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*now the center of the box is at the center of the page*/
    text-align: center;
  }

  &__logo-box {
    position: absolute;
    top: 2rem; /*the reference to start is parent position:relative*/
    left: 2rem;
  }

  &__logo {
    height: 4rem;
  }
}
